## create a connection to the database using the library sqlite3

In [1]:
import sqlite3

In [2]:
database_con = sqlite3.connect('../data/checking-logs.sqlite.sqlite copy')

## get the schema of the table checker

In [3]:
import pandas as pd

In [4]:
pd.io.sql.read_sql("PRAGMA table_info(checker)", database_con)

   cid       name       type  notnull dflt_value  pk
0    0      index    INTEGER        0       None   0
1    1     status       TEXT        0       None   0
2    2    success    INTEGER        0       None   0
3    3  timestamp  TIMESTAMP        0       None   0
4    4  numTrials    INTEGER        0       None   0
5    5    labname       TEXT        0       None   0
6    6        uid       TEXT        0       None   0

## get only the first 10 rows of the table checker to check what the table looks like

In [5]:
pd.io.sql.read_sql("SELECT * FROM checker LIMIT 10", database_con)

,index,status,success,timestamp,numTrials,labname,uid
0,0,checking,0,2020-04-16 21:12:50.740474,5,None,admin_1
1,1,ready,0,2020-04-16 21:12:54.708365,5,code_rvw,admin_1
2,2,checking,0,2020-04-16 21:46:47.769088,7,None,admin_1
3,3,ready,0,2020-04-16 21:46:48.121217,7,lab02,admin_1
4,4,checking,0,2020-04-16 21:53:01.862637,6,code_rvw,admin_1
5,5,ready,0,2020-04-16 21:53:05.373389,6,code_rvw,admin_1
6,6,checking,0,2020-04-17 05:18:51.965864,1,None,None
7,7,ready,0,2020-04-17 05:19:02.744528,1,project1,user_4
8,8,checking,0,2020-04-17 05:22:35.249331,2,project1,user_4
9,9,ready,1,2020-04-17 05:22:45.549397,2,project1,user_4

## count how many rows satisfy the following conditions using only one query with any number of subqueries

In [23]:
uid_pageviews = pd.io.sql.read_sql("SELECT uid FROM pageviews", database_con)

In [24]:
uid_pageviews.value_counts()

uid
user_3     317
user_25    179
user_28    149
user_14    143
user_10     89
admin_1     71
user_17     47
user_1      28
admin_3     18
user_19     16
user_21     10
admin_0      3
user_30      3
user_18      3
user_9       2
admin_2      1
user_5       1
dtype: int64

In [43]:
uid_checker = pd.io.sql.read_sql("SELECT uid FROM checker", database_con)

In [44]:
uid_checker.value_counts()

uid
user_4     368
user_14    259
user_2     235
user_25    233
user_19    176
user_26    173
user_20    165
user_31    144
user_10    137
user_3     134
user_29    121
user_13    115
user_28    114
user_24    104
user_12     93
user_8      87
user_1      84
user_21     83
user_30     72
user_18     66
user_17     62
user_16     60
user_27     42
user_15     29
user_6      18
admin_1      9
user_22      8
user_11      8
user_7       8
user_23      6
user_0       3
admin_2      1
dtype: int64

In [45]:
sql_request = """
SELECT *
FROM pageviews, checker
WHERE pageviews.uid = checker.uid
"""

In [46]:
test = pd.io.sql.read_sql(sql_request, database_con)

In [48]:
test

,index,uid,datetime,index,status,success,timestamp,numTrials,labname,uid
0,0,admin_1,2020-04-17 12:01:08.463179,0,checking,0,2020-04-16 21:12:50.740474,5,None,admin_1
1,0,admin_1,2020-04-17 12:01:08.463179,1,ready,0,2020-04-16 21:12:54.708365,5,code_rvw,admin_1
2,0,admin_1,2020-04-17 12:01:08.463179,2,checking,0,2020-04-16 21:46:47.769088,7,None,admin_1
3,0,admin_1,2020-04-17 12:01:08.463179,3,ready,0,2020-04-16 21:46:48.121217,7,lab02,admin_1
4,0,admin_1,2020-04-17 12:01:08.463179,4,checking,0,2020-04-16 21:53:01.862637,6,code_rvw,admin_1
...,...,...,...,...,...,...,...,...,...,...
160362,1079,user_17,2020-05-22 18:22:22.847815,3374,checking,0,2020-05-21 15:31:51.424850,4,laba06,user_17
160363,1079,user_17,2020-05-22 18:22:22.847815,3375,ready,1,2020-05-21 15:31:51.546593,4,laba06,user_17
160364,1079,user_17,2020-05-22 18:22:22.847815,3381,ready,0,2020-05-21 17:39:17.783615,1,laba06s,user_17
160365,1079,user_17,2020-05-22 18:22:22.847815,3382,checking,0,2020-05-21 18:10:40.712975,2,laba06s,user_17
160366,1079,user_17,2020-05-22 18:22:22.847815,3383,ready,1,2020-05-21 18:10:40.845772,2,laba06s,user_17