In [1]:
import pandas as pd
import numpy as np
import requests

In [10]:
pd.options.display.float_format = '{:.2f}'.format

## read the JSON file that you saved in ex02

In [15]:
df = pd.read_json('../data/auto.json', orient='records')

## Result

In [16]:
# df

## enrich the dataframe using a sample from that dataframe

In [19]:
sample = df.sample(n=200, random_state=21)

In [40]:
concat_rows = pd.concat([df, sample], ignore_index=True)

## Result

In [41]:
# concat_rows

        CarNumber  Refund   Fines        Make   Model
0    Y163O8161RUS       2 3200.00        Ford   Focus
1     E432XX77RUS       1 6500.00      Toyota   Camry
2     7184TT36RUS       1 2100.00        Ford   Focus
3    X582HE161RUS       2 2000.00        Ford   Focus
4    92918M178RUS       1 5700.00        Ford   Focus
..            ...     ...     ...         ...     ...
920  8182XX154RUS       1  200.00        Ford   Focus
921   X796TH96RUS       1  500.00        Ford   Focus
922  T011MY163RUS       2 4000.00        Ford   Focus
923   T341CC96RUS       2 1000.00  Volkswagen  Passat
924   T119CT96RUS       1 2000.00        Ford   Focus

[925 rows x 5 columns]

## enrich the dataframe concat_rows by a new column with the data generated

In [26]:
np.random.seed(21)

In [44]:
year = pd.Series(data=[np.random.randint(1980, 2020) for _ in range(925)], name='Year')

In [46]:
fines = pd.concat([concat_rows, year], axis='columns')

## Result

In [48]:
# fines

## enrich the dataframe with the data from another dataframe