In [3]:
import pandas as pd

## create a dataframe views with two columns

In [4]:
df = pd.read_csv(
	'../data/feed-views.log',
	sep='\t',
	header=None)

In [5]:
df.rename(columns={0: 'datetime', 1: 'user'}, inplace=True)

In [6]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [7]:
dti = pd.DatetimeIndex(df['datetime'])
df['year'] = dti.year
df['month'] = dti.month
df['day'] = dti.day
df['hour'] = dti.hour
df['minute'] = dti.minute
df['second'] = dti.second

## Result

In [8]:
# df

## create the new column daytime

In [9]:
bins = [0, 4, 7, 11, 17, 20, 24]
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
df['daytime'] = pd.cut(df['hour'], bins, right=False, labels=labels)

In [10]:
df.set_index('user', inplace=True)

## Result

In [11]:
# df

## calculate the number of elements in your dataframe

In [12]:
df.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [13]:
df['daytime'].value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

## sort values in your dataframe by hour, minute, and second in ascending order

In [14]:
df.sort_values(by=['hour', 'minute', 'second'], inplace=True)

## Result

In [15]:
# df

## calculate the maximum of hour for the rows where the time of day is night

In [16]:
max_evening = df[df['daytime'] == 'evening']['hour'].max()
print(max_evening)

23

In [17]:
min_morning = df[df['daytime'] == 'morning']['hour'].min()
print(min_morning)

8

In [18]:
df[df['hour'] == max_evening].index[0]

'ekaterina'

In [19]:
df[df['hour'] == min_morning].index[0]

'alexander'

In [20]:
df['hour'].mode()

0    22
dtype: int64

In [21]:
df['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

## show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames using nsmallest() and nlargest()

In [22]:
morning = df[df['daytime'] == 'morning']

In [23]:
print('nsmallest')
morning.nsmallest(3, 'hour')

nsmallest

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
alexander,2020-05-15 09:02:24.999438,2020,5,15,9,2,24,morning

In [24]:
print('nlargest')
morning.nlargest(3, 'hour')

nlargest

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-05-16 10:02:08.925840,2020,5,16,10,2,8,morning
maxim,2020-05-14 10:08:04.832361,2020,5,14,10,8,4,morning
maxim,2020-05-14 10:08:05.726956,2020,5,14,10,8,5,morning

## use the method describe() to get the basic statistics for the columns

In [25]:
describe = df.describe()['hour']
iqr = describe['75%'] - describe['25%']
print(iqr)

9.0