In [18]:
import pandas as pd

## read_csv

In [19]:
df = pd.read_csv(
	'../data/feed-views.log',
	sep='\t',
	header=None,
	skiprows=[2, 3],
	skipfooter=2)

/Users/hrema/Desktop/Python-Data-Science/venv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [20]:
df.rename(columns={0: 'datetime', 1: 'user'}, inplace=True)

In [21]:
df.set_index('datetime', inplace=True)

## rename datetime to date_time

In [22]:
df.rename_axis('date_time', inplace=True)

## Result

In [23]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [24]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## to_csv

In [25]:
df.to_csv('../data/feed-views-semicolon.log', sep=';')