In [49]:
import pandas as pd

## read the fines.csv that you saved in the previous exercise

In [50]:
fines = pd.read_csv('../data/fines.csv')

In [51]:
# fines

## iterations: in all the following subtasks, you need to calculate fines/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

In [52]:
def calc_value(fines_value, refund_value, year_value):
    return fines_value / refund_value * year_value

In [53]:
fines_copy = fines.copy()

In [54]:
def calculated_loop(df):
    new_column = list()
    for i in range(0, len(df)):
        value = calc_value(df['Fines'].iloc[i], df['Refund'].iloc[i], df['Year'].iloc[i])
        new_column.append(value)
    return new_column

In [55]:
%%timeit
fines_copy['calc_values'] = calculated_loop(fines_copy)

29.7 ms ± 6.41 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [56]:
# fines_copy

In [57]:
fines_copy = fines.copy()

In [58]:
def calculated_iterrows(df):
    new_column = list()
    for i, j in df.iterrows():
        value = calc_value(j['Fines'], j['Refund'], j['Year'])
        new_column.append(value)
    return new_column

In [59]:
%%timeit
fines_copy['calc_values'] = calculated_iterrows(fines_copy)

49.4 ms ± 1.78 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [60]:
# fines_copy

In [61]:
fines_copy = fines.copy()

In [62]:
%%timeit
fines_copy['calc_values'] = fines_copy.apply(lambda row: calc_value(row['Fines'], row['Refund'], row['Year']), axis=1)

14.4 ms ± 280 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [63]:
# fines_copy

In [64]:
fines_copy = fines.copy()

In [65]:
%%timeit
fines_copy['calc_values'] = calc_value(fines_copy['Fines'], fines_copy['Refund'], fines_copy['Year'])

472 µs ± 7.63 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [66]:
# fines_copy

In [67]:
fines_copy = fines.copy()

In [68]:
%%timeit
fines_copy['calc_values'] = calc_value(fines_copy['Fines'].values, fines_copy['Refund'], fines_copy['Year'])

487 µs ± 4.33 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [69]:
# fines_copy

## indexing: measure the time using the magic command %%timeit in the cell

In [93]:
fines_copy = fines.copy()

In [94]:
fines_copy

        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]

In [95]:
%timeit fines_copy[fines_copy['CarNumber'] == 'O136HO197RUS']

335 µs ± 18.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [96]:
fines_copy.set_index('CarNumber')

              Refund    Fines    Make  Model  Year
CarNumber
Y163O8161RUS       2   3200.0    Ford  Focus  1989
E432XX77RUS        1   6500.0  Toyota  Camry  1995
7184TT36RUS        1   2100.0    Ford  Focus  1984
X582HE161RUS       2   2000.0    Ford  Focus  2015
92918M178RUS       1   5700.0    Ford  Focus  2014
...              ...      ...     ...    ...   ...
K307NA30RUS        2   7327.0    Audi    RS7  2015
X007OB190RUS       1  10964.0     Kia    Rio  2009
H729HO170RUS       1  11336.0     BMW     Z4  2019
K961KC12RUS        2  25228.0     BMW     M3  2021
B874EH45RUS        1  14490.0    Audi     Q5  2008

[930 rows x 5 columns]

In [97]:
fines_copy

        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]

In [88]:
%%timeit
fines_copy.loc['O136HO197RUS']

134 µs ± 3.09 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)