In [1]:
import pandas as pd

## read the fines.csv that you saved in the previous exercise

In [19]:
fines = pd.read_csv('../data/fines.csv')

In [15]:
fines

        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]

## iterations: in all the following subtasks, you need to calculate fines/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

In [16]:
# fines_copy = fines

In [20]:
%%timeit

def calculated_loop(df):
    new_column = []
    for i in range(0, len(df)):
        calc_data = df['Fines'].iloc[i] / df['Refund'].iloc[i] * df['Year'].iloc[i]
        new_column.append(calc_data)
    df['calc_data'] = new_column
    return df

calculated_loop(fines.copy())

22.6 ms ± 1.62 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [21]:
# fines

        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]

In [25]:
%%timeit

def calculated_iterrows(df):
    # new_column = []
    for i, j in df.iterrows():
        j['calc_data'] = j['Fines'] / j['Refund'] * j['Year']
        # new_column.append(calc_data)
    return df

# fines_copy['calc_data'] = calculated_iterrows(fines_copy)
print(calculated_iterrows(fines.copy()))

        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]
        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]
        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]
        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]
        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]
        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]
        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]
        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]
654 ms ± 55.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [23]:
fines

        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   K307NA30RUS       2   7327.0    Audi    RS7  2015
926  X007OB190RUS       1  10964.0     Kia    Rio  2009
927  H729HO170RUS       1  11336.0     BMW     Z4  2019
928   K961KC12RUS       2  25228.0     BMW     M3  2021
929   B874EH45RUS       1  14490.0    Audi     Q5  2008

[930 rows x 6 columns]