In [1]:
import pandas as pd

## load the JSON file that you created in the previous exercise into a dataframe

In [2]:
df = pd.read_json('../data/auto.json', orient='records')

In [3]:
df.set_index('CarNumber', inplace=True)

## Result

In [4]:
# df

## make the following selects

In [5]:
df[df['Fines'] > 2100]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

In [6]:
df[ (df['Fines'] > 2100) & (df['Refund'] == 2) ]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

In [7]:
df[ df['Model'].isin(['Focus', 'Corolla']) ]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [8]:
df.loc[ ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'] ]

              Refund          Fines  Make  Model
CarNumber
Y7689C197RUS       1   27000.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       1    8594.586466  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus

## make the aggregations with the make and the model

In [9]:
df.groupby('Make')['Fines'].mean()

Make
Audi           4200.000000
BMW            6031.528822
Ford           8270.665045
Skoda         10586.710526
Toyota         9478.934100
Volkswagen     9929.970462
Volvo          8500.000000
Name: Fines, dtype: float64

In [10]:
df.groupby(['Make', 'Model'])['Fines'].mean()

Make        Model
Ford        Focus       8184.445897
            Mondeo     16533.333333
Skoda       Octavia    10586.710526
Toyota      Camry       8236.823308
            Corolla    10583.032581
Volkswagen  Golf       15744.729323
            Jetta      10350.000000
            Passat      6363.144224
            Touareg     4498.917293
Name: Fines, dtype: float64

In [11]:
df.groupby(['Make', 'Model'])['Fines'].count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

In [12]:
df.groupby(['Make', 'Model'])['Fines'].describe()[['min', 'max']]

                       min            max
Make       Model
Ford       Focus     100.0  180000.000000
           Mondeo   1100.0   46200.000000
Skoda      Octavia   300.0  145000.000000
Toyota     Camry     500.0   22400.000000
           Corolla   900.0   34300.000000
Volkswagen Golf      200.0  168000.000000
           Jetta     500.0   46000.000000
           Passat    100.0   29700.000000
           Touareg   500.0    8594.586466

In [13]:
df.groupby(['Make', 'Model'])['Fines'].describe()['std']

Make        Model
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen  Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Name: std, dtype: float64

In [14]:
df.groupby('Fines').count()

          Refund  Make  Model
Fines
100.0         12    12     12
200.0          7     7      7
300.0         13    13     13
400.0          4     4      4
500.0         54    54     54
...          ...   ...    ...
103600.0       1     1      1
145000.0       1     1      1
145200.0       1     1      1
168000.0       1     1      1
180000.0       1     1      1

[192 rows x 3 columns]

In [15]:
df

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

## make the aggregations with the car number

In [16]:
fines_count = df.groupby(df.index)['Fines'].count().sort_values(ascending=False)

In [17]:
print(fines_count)

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
               ..
E42577152RUS    1
E42377152RUS    1
E41977152RUS    1
E41577152RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

In [18]:
df.loc[df.index == fines_count.index[0]]

              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

In [19]:
fines_sum = df.groupby(df.index)['Fines'].sum().sort_values(ascending=False)

In [20]:
print(fines_sum)

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
83218C154RUS       100.0
Y195O8161RUS       100.0
K376HE161RUS       100.0
705787163RUS       100.0
K326T8197RUS       100.0
Name: Fines, Length: 531, dtype: float64

In [21]:
df.loc[df.index == fines_sum.index[0]]

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

In [45]:
test = df.groupby([df.index, 'Model']).count()

                    Refund  Fines  Make
CarNumber    Model
704687163RUS Focus       1      1     1
704787163RUS Focus       1      1     1
704987163RUS Focus       1      1     1
705287163RUS Focus       1      1     1
705387163RUS Focus       1      1     1
...                    ...    ...   ...
Y965O8197RUS Focus       1      1     1
Y966O8197RUS Focus       2      2     2
Y967O8197RUS Focus       1      1     1
Y969O8197RUS Focus       2      2     2
Y973O8197RUS Focus       3      3     3

[524 rows x 3 columns]

In [61]:
test[[i for i in test.index if isinstance(i[1], list)]]

Series([], Name: Model, dtype: int64)